/**
 * base styles for application as a whole
 */


#app {
  margin-left: 10%;
  margin-right: 10%;
}


/* =============================================================================
   Media queries for different screen sizes
   ========================================================================== */
@font-face {
	font-family: 'Graphik-Regular';
	src: url("/static/font/Graphik-Regular.otf");
	src: url('Graphik-Regular.eot?#iefix') format('embedded-opentype'),
		url("/static/font/Graphik-Regular.woff") format('woff'),
		url("/static/font/Graphik-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'Sailec-BlackItalic';
  src: url('/static/font/Sailec-BlackItalic.eot?#iefix') format('embedded-opentype'),  url('/static/font/Sailec-BlackItalic.otf')  format('opentype'),
	     url('/static/font/Sailec-BlackItalic.woff') format('woff'), url('/static/font/Sailec-BlackItalic.ttf')  format('truetype'), url('/static/font/Sailec-BlackItalic.svg#Sailec-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


