#auction-joined {

    @tile-border-radius: 2rem;
    @tile-border-width: .3rem;
    
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 520px;    
    @notification-font-size: 1em;
    @notification-height: @notification-font-size * 1.25;
    @header-height: 5 * @notification-height;
    
    height:520px;
    margin-left: -30px;
    header {
        height:1em;
        font-size:29px;
        margin-bottom:1%;
    }
    
    .joined-auction-container {
        width:95%;
    }

    .bp (S; {
        background-color:@color-game-black;
        color:white;
        height:585px;
        });
    
    
    /* _____Image, Description, Disclaimer ________*/
    
    @main-img-width: 35%;
    
    .main-img {
        position: relative;
        min-width: @main-img-width;
        margin-right: 1rem;
        width:100%;
    }
    
    
    
    .main-img img {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 200px;
        padding:25px;
        height:inherit;
    }
    
    
    .img-box {
        background: #FFFFFF;
        border-radius: 4px;
        .bp (S;{
            float: left;
            display: inline;
            width:30%;
            height:82px;
        });
    }
    
    .description {
        margin-top:1%;
        font-size: 12px;
        .bp (S; {
            font-size: 6px;
            line-height: 6px;
        });
    }
    
    
    
    /* _____Feed,leaderboard ________*/
    
    .info-column {
        width: 25%;
        height: 100%;
        position: absolute;
        .bp (S {
            display:none;
        })
    }
    .update-texts {
        width: (100% - @main-img-width);
    }
    
    ul.notifications {
        list-style: none;
        margin: 0;
        margin-right: 2.3rem;
        padding: 20px;
        font-size: 1em;
        overflow: hidden;
        position: absolute;
        height: 60%;
        font-size: 18px;
        color:white;
        line-height: 20px;
        width: 100%;
        padding: 40px;
        .bp (S; {
            left: 23%;
            bottom: 20px;
            font-size: 10px;
            line-height: 15px;
            background-color:transparent;
        });
    }
    ul.notifications li {
        height: @notification-height;
        line-height: 21px;
        margin: 0;
        background-color: transparent;
        
        
    }
    
    ul.notifications li span {
        margin: 0;
    }
    
    ul.notifications li.animate-marquee {
        animation: marquee 5s linear infinite;
    }
    
    @keyframes marquee {
        0%  { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }
    
    ul.notifications li span {
        white-space: nowrap;
    }
    
    ul.notifications li.vscroll-enter {
        animation-name: none;
        transform: translateY((3 * @notification-height));
        height: @notification-height;
    }
    
    ul.notifications li.vscroll-enter.vscroll-enter-active {
        transform: translateY(0em);
        transition: transform 500ms ease-in;
    }
    
    ul.notifications li.vscroll-leave {
        animation-name: none;
        transform: translateY(0em);
        height: @notification-height;
    }
    
    ul.notifications li.vscroll-leave.vscroll-leave-active {
        transform: translateY((-1 * (3 * @notification-height)));
        height: 0em;
        transition: height 500ms ease-in, transform 500ms ease-in;
    }
    
    
    .feed-bid {
        color: #99CF0A;
        
    }
    
    .feed-destroy {
        color: #FF8C8C;
    }
    
    
    .feed-steal {
        color: @color-steal;
    }
    .feed-freeze {
        color: #00B4DF;
    }
    
    
    
    .leader-other-name {
        font-family: Sailec-Lightitalic;
    }
    
    .leader-other {
        display:inline-table;
        width:25%;
        text-align:center;
        font-size:11px;
        margin-top: 2%;
        .bp (S; {
            margin-top:3%;
            text-align:left;
            });
    }
    
    .avatar {
        border-radius: 50%;
        width: 50%;
    }

    .user-leader {
        .bp (S; {
            width: 45%;
            });
    }

    .leader-other-img {
        width: 35px;
        margin-top: 10%;
        margin-bottom:10%;
        border-radius:50%;
        .bp (S; {
            width: 30px;
            display: block;
            margin: 0px auto;
            float: left;
            bottom: inherit;
            margin-top: 4px;
            margin-left: 10px;
            border: 1px solid #AFAFAF;
        });
    }
    
    .leader-other-pos {
        font-size:14px;
        font-family:Sailec-Regular;
        .bp (S; {
            font-size:9px;
            color:#B7B7B7;
            margin-left: 24px;
        });
    }
    
    .leader-other-text {
        .bp (S; {
            float: right;
            font-size: 9px;
            margin-top: 7%;
            line-height: 13px;
            margin-right: 5%;
            });
    }

    .leader-list {
        width: 68%;
        border-radius: 1px;
        height: 100%;
        color:white;
        border: 3px solid #595959;
        .bp (S; {
            width: 115%;
            height: 58%;
            display: block;
            position: absolute;
            left: -37px;
            top: 152px;
            background:none;
            box-shadow:none;
            border-bottom: 1px solid #595959;
        });
    }
    
    
    .info-box {
        padding: 15px;
        height: 271px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px 2px rgba(202,202,202,0.50);
        border-radius: 4px;
        .bp (S;{
            display: inline;
            height: -59px;
            background: #FFFFFF;
            box-shadow: 0px 2px 4px 2px rgba(202, 202, 202, 0.5);
            border-radius: 4px;
            float: right;
            width: 50%;
            position: absolute;
            bottom: -240px;
            right: 10px;
        });
    }
    
    .info-label {
        font-family: Sailec-MediumItalic;
        font-size: 14px;
        color: #00B4DF;
        .bp (S; {
            font-family: Sailec-MediumItalic;
            font-size: 14px;
            color: #00B4DF;
            font-size: 8px;
            top: 5px;
            position: absolute;
        });
    }
    
    .leaderboards {
        width: 87%;
        position: absolute;
        left: 37px;
        bottom: 33px;
        height: 120px;
    }
    
    .leader-user-box{
        background-color:#686A69;
        border-radius: 1px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 30%;
        height: 100%;
        color: white;
        .bp (S;{
            border-radius: 1px;
            position: absolute;
            bottom: 0px;
            right: 77%;
            width: 37%;
            top: 85px;
            height: 57%;
            box-shadow: none;
        });
    }
    
    .leader-user {
        position: absolute;
        top: 0;
        left: 0px;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 50%;
        width: 65%;
    }
    
    .user-pos-box {
        position: absolute;
        top: 0px;
        left: 65%;
        .bp (S;{
            top: -8px;
            font-size: 11px;
        });
    }
    .user-pos {
        font-size:42px;
        .bp (S; {
            font-size:34px;
        });
    }
    
    .reward {
        display: block;
        margin: 0px auto;
        padding: 25px;
        height: 180px;
        margin-bottom: 1%;
        .bp (S{
            display: inline-block;
            padding: 18px;
            height: 90%;
            margin-bottom: 1%;
            margin-right: 0px;
            width: 100%;
            position: absolute;
            bottom: -76px;
        });
    }
    
    .feedbox {
        background-color:@color-game-black;
        width: 45.2%;
        height: 89%;
        position: absolute;
        left: 28%;
        box-shadow: 0px 2px 4px 0px rgba(174,174,174,0.50);
        border-radius: 4px;
        .bp (S; {
            background: none;
            width: 100.2%;
            height: 12%;
            position: absolute;
            left: 0%;
            border-radius: 4px;
            z-index: 110;
            top:47px;
            border: 1px solid #595959;
            box-shadow:none;
        });
    }
    
    /* _____Bidbutton and actions ________*/
    
    .bid-button button {
        font-family: "DINNextLTPro-Light", "DINNextLTPro-Regular";
        height: 195px;
        width: 195px;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #13C899;
        display:block;
        left: 0;
        right: 0;
        margin-top:15%;
        margin-left: auto;
        margin-right: auto;
        margin-top:9%;
        z-index:10;
        .bp (S; {
            padding: 0;
            border: none;
            border-radius: 100%;
            margin-left: auto;
            margin-right: auto;
            z-index: 10;
        });
    }
    
    .bid-button button:active {
        box-shadow: 0px 1px 10px 0px rgba(81,81,81,0.50);
        
        transform: translateY(4px);
    }
    
    .bid-price {
        font-size: 42px;
        color:white;
        top: 60px;
        margin: 0px auto;
        margin-top:10%;
        left: 0px;
        right: 0px;
        .bp (S; {
            font-size: 50px;
            });
    }
    
    .bid-button .stat .val{
        color:white;
    }
    
    .bid-val {
        font-size:18px;
        .bp (S; {
            font-size:15px;
            });
    }
    
    .bids-left {
        display: block;
        color: white;
        text-align: center;
        width: 100%;
        font-family: "DINNextLTPro-Light", "DINNextLTPro-Regular";
        position:relative;
        bottom:21px;
        .bp (S; {
            bottom:19px;
            });
    }
    
    .bids-rect-black {
        max-width: 270px;
        min-width: 200px;
        height: 22px;
        overflow: hidden;
        background: #838383;
        margin: 0 auto;
        left: 0;
        right: 0;
        margin-top: 10%;
        .bp (S; {
            max-width: 218px;
            min-width: 130px;
            height: 20px;
            overflow: hidden;
            background: black;
            margin: 0 auto;
            margin-top: 7%;
        });
        
    }
    
    .bids-rect-green {
        background-color: #13C899;
        height: inherit;
    }
    .label {
        font-size: 18px;
        font-weight:100;
        padding:0px;
        .bp (S; {
            font-size:15px;
            });
    }
    
    .bid-label {
        font-family:"DINNextLTPro-Light", "DINNextLTPro-Regular";
        display:block;
        margin-top:10px;
        font-weight: 100;
    }
    
    .game-elements {
        width: 60%;
        text-align: left;
        display: block;
        margin: 0px auto;
        .bp (S; {
            width: 78%;
            });
    }
    
    .game-elements span {
        font-size: 1.25em;
        display: block;
        text-align: center;
        margin-top: 25%;
        color:white;
    }
    
    .game-elements .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    
    .game-column {
        right: 1%;
        width: 25.5%;
        position: absolute;
        height: 89%;
        background-color:@color-game-black;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
        border-radius: 4px;
        .bp (S; {
            background:none;
            width: 99.5%;
            top: 161px;
            height: 63%;
            box-shadow:none;
        });
    }
    
    .title {
        float:left;
        .bp (S; {
            padding:0px;
            font-size: 14px;
            padding-top: 24px;
            color:white;
            font-family:"DINNextLTPro-Regular";
        });
    }
    
    .ultimate .val {
        font-family:"DINNextLTPro-Regular";
        float:right;
        color:black;
        .bp(S; {
            font-size:42px;
            color:white;
        })
    }
    
    
    
    .intermediate-val {
        font-family:"DINNextLTPro-Regular";
        position: absolute;
        right: 10%;
        top: 7%;
        color:white;
        font-size: 20px;
        .bp (S;{
            color:#FFDD6B;
            right: 5%;
            top: 8%;
        });
    }
    
    .progressbar {
        width: 100px;
        height: 100px;
        z-index: 100;
    }

    .dollar-sign {
        font-size:.5em;
    }
    
    /*_____________ELEMENTS________________*/
    
    .disabled {
        opacity: .3;
        pointer-events: none;
    }
    
    .element-icon {
        height: 55px;
        width: 55px;
        border: 1px white;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50%;
        padding: 7px;
    }
    
    .element-icon:active {
        box-shadow: 0px 1px 10px 0px rgba(81,81,81,0.50);
        transform: translateY(3px);
    }
    .charge-box {
        transform: scale(.7,.7);
    }

    .freeze-icon {
        background-color: @color-freeze;
    }
    
    .steal-icon {
        background-color: @color-steal;
    }
    
    .destroy-icon {
        background-color: @color-destroy;
    }
    
    
    .element-icon.disabled:active {
        box-shadow:none;
        transform:none;
    }

    .elements-buttons{
        background: none;
        border: none;
    }
    
    /* ANIMATIONS */
    
    .animation-preset{
        display: block;
        z-index: 110;
        position: absolute;
        left: 47%;
        top: 34%;
        transform: translate(-50%, -50%) scale(1.3,1.3);
        .bp (S; {
            top:40%;
            })
    }

    .steal-anim {
    transform: translate(-60%, -30%) scale(0.9,.9);
    pointer-events:none;
        }

    .destroy-anim {
        pointer-events:none;
        top:30%;
        margin-left:-20%;
    }
    
    button:focus {
        outline:none;
    }
    
    body {
        overflow-y: hidden;
    }

    .radial-progress {
    @circle-size: 101px;
    @circle-background: #838383;
    @circle-color: #97a71d;
    @inset-size: 80px;
    @inset-color: #fbfbfb;
    @transition-length: .2s;
    @percentage-color: #97a71d;
    @percentage-font-size: 22px;
    @percentage-text-width: 57px;

    width:  @circle-size;
    height: @circle-size;

    background-color: @circle-background;
    border-radius: 50%;

    .inner-circle {
        .mask, .fill, {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                position:absolute;
                left:0%;
        }
        .mask, .fill {
            -webkit-backface-visibility: hidden;
            transition: -webkit-transform @transition-length;
            transition: -ms-transform @transition-length;
            transition: transform @transition-length;
            border-radius: 50%;
        }
        .mask {
            clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
            .fill{
                clip: rect(0px, @circle-size/2, @circle-size, 0px);
            }
            .fill-freeze {
                background-color: @color-freeze;

            }
            .fill-destroy {
                background-color:@color-destroy;
            }
            .fill-steal {
                background-color:@color-steal;
            }
        }
    }
    .inset {
        width:       @inset-size;
        height:      @inset-size;
        position:    absolute;
        margin-left: 4px;
        margin-top: -1px;
        border-radius: 50%;
        border: 6px solid #5a5a5a;
        .bp (S; {
        border: 6px solid @color-game-black;
            });
    }

    @i: 0;
    @increment: 180deg / 100;
    .loop (@i) when (@i <= 100) {
        &[data-progress="@{i}"] {
            .inner-circle {
                .mask.full, .fill {
                    -webkit-transform: rotate(@increment * @i);
                    -ms-transform: rotate(@increment * @i);
                    transform: rotate(@increment * @i);
                }   
                .fill.fix {
                    -webkit-transform: rotate(@increment * @i * 2);
                    -ms-transform: rotate(@increment * @i * 2);
                    transform: rotate(@increment * @i * 2);
                }
            }
            .inset .percentage:before {
                content: "@{i}%"
            }
        }
        .loop(@i + 1);
    }
    .loop(@i);
}

.radial-steal {
        &[data-progress="0"] {
          background-color:@color-steal;
}
}

.radial-freeze {
        &[data-progress="0"] {
          background-color:@color-freeze;
}
}

.radial-destroy {
        &[data-progress="0"] {
          background-color:@color-destroy;
}
}

    .intermediate-timer-rect {
        background-color:purple;
        height:100px;
    }
}




