#auction-upcoming {

    @import "library";
    font-family: 'DINNextLTPro-Light', Sailec-Light;
    margin-bottom: 3rem;
    background: #FFFFFF;
    border-radius: 4px;
    display:inline-block;
    display:table;
    box-shadow: 0px 2px 4px 2px rgba(202, 202, 202, 0.5);
    width: 100%;

    .main-img {
        height: 360px;
        .bp (S; {
            height: 170px;
        });
    }

    .start-time {
        font-size: 16px;
        position: absolute;
        height: 95px;
        width: 125px;
        padding: 15px;
        border-radius: 2px;
        letter-spacing: 0.55px;
        line-height: 16px;
        .bp (S; {
            font-size: 11px;
            line-height: 4px;
            padding: 11px;
        });
        .time-caption {
            color: @color-blue;
            display: block;
        }
    }

    .hide {
        display: none;
    }
    
    .description {
        position: absolute;
        overflow-y: scroll;
        height: 445px;
        width: 92%;
        line-height: 23px;
        padding: 30px;
        background-color: white;
        box-shadow: 0px 2px 4px 2px rgba(202, 202, 202, 0.5);
        z-index: 11;
        border-radius: 5px;
        .bp (S; {
            height: 229px;
            width: 84%;
            font-size: 10px;
            padding: 7%;
            line-height: 15px;
        });
    }
    
    img {
        position: relative;
        max-width: 100%;
        display: block;
        margin: 0px auto;
        margin: 0;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        .bp (S; {
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
        });
    }

    .watch {
        float: right;
        display: inline-block;
        border: 2px solid #B7BBBD;
        border-radius: 2px;
        font-size: 14px;
        width: 37%;
        padding: 15px;
        margin-top: 3%;
        margin-right: 3%;
        line-height: 24px;
        padding-bottom: 4px;
        padding-top: 1px;
        cursor: pointer;
        .bp (S; {
            width: 35%;
            font-size: 10px;
            margin: 2px;
            padding:2px;
        });
    }

    .watch-icon {
        width: 30px;
        top: 15px;
        .bp (S; {
            padding: 0px;
            position: relatiev;
            top: 0;
            bottom: 0;
            height: 15px;
            margin: 0px;
            margin-top: 10px;
        });
    }

    .watch-content {
        display:block;
        margin:0px auto;
        width:94%;
        text-align:center;
        .bp (S; {
            font-size: 10px;
            line-height:4px;
            });
    }

    .bottom {
        height:87px;
        border-top: 1px solid @color-lightlightgray;
        .bp (S; {
            height:auto;
        });
    }
}