#auction-active {

    @import "library";
    font-family: 'DINNextLTPro-Light', Sailec-Light;
    margin-bottom: 3rem;
    background: #FFFFFF;
    border-radius: 4px;
    display:inline-block;
    display:table;
    box-shadow: 0px 2px 4px 2px rgba(202, 202, 202, 0.5);
    width: 100%;

    .info {
        flex-direction: column;
        width: 100%;

    .bid-price {
        width: 100%;
        border-top: 1px solid @color-lightlightgray;
        border-bottom: 1px solid @color-lightlightgray;
        font-size: 14px;
        color: #FFB441;
        letter-spacing: 0.75px;
        padding-left: 13px;
        padding-right: 15px;
        padding-top: 9px;
        padding-bottom: 3px;
        .bp (S; {
            padding-left: 5px;
            padding-right: 5px;
        });
    }

    .time-remaining {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
    .val {
        font-size: 1.7em;
    }
    }
    
    .bid-price .val {
        font-size: 16px;
        letter-spacing: 0.62px;
        .bp (S; {
            font-size: 10px;
        });
        .label {
        font-size: 1.2em;
        display:block;
    }
    }
    }

    
    .bid-icon {
        width: 25px;
        padding-bottom: 4px;
        display: inline;
        transform: none;
        left: 0;
        .bp (S; {
            transform: none;
            top: initial;
            left: initial;
            display: inline;        
        });
    }
    
    .usercount {
        font-size:16px;
        color:#858585;
        letter-spacing:.75px;
        display:inline-block;
        .bp (S; {
            font-size:10px;
        })
    }
    
    .user-icon {
        height: 25px;
        margin-right: 6px;
        display: inline-block;
        left: 0;
        top: 11px;
        .bp (S; {
            height: 13px;
            width: 25px;
            top: 5px;
            display: inline;
            left: 15px;        
    });
    }
    
    .count-content {
        width:50%;
        text-align:right;
        float:right;
    }
    
    .start-time {
        font-size: 35px;
        position: absolute;
        color: white;
        height: 95px;
        width: 125px;
        padding: 15px;
        background-color: rgba(91, 91, 91, 0.67);
        border-radius: 2px;
        z-index: 10;
        .bp (S; {
            font-size: 20px;
            height: 55px;
            width: 75px;
            padding: 3%;
        });
    }

    .description {
        position: absolute;
        overflow-y: scroll;
        height: 445px;
        width: 92%;
        line-height: 23px;
        padding: 30px;
        background-color: white;
        box-shadow: 0px 2px 4px 2px rgba(202, 202, 202, 0.5);
        z-index: 11;
        border-radius: 5px;
        .bp (S; {
            height: 229px;
            width: 84%;
            font-size: 10px;
            padding: 7%;
            line-height: 15px;
        });
    }
    
    .time-caption {
        color: #73D3EC;
        font-size: 16px;
        display: block;
        margin-top: -5px;
        .bp (S; {
            font-size:9px;
        });
    }
    
    .main-img {
        height: 320px;        
        .bp (S; {
            height: 170px;
        });
    }
    img {
        position: relative;
        max-width: 100%;
        display: block;
        margin: 0px auto;
        margin: 0;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        .bp (S; {
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
        });
    }

    .join-content {
        height: 55px;
        float: right;
        background-color: #37DBF2;
        border-radius: 4px;
        width: 39%;
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 15px;
        margin-top: 3%;
        margin-right: 1%;
        line-height: 18px;
        padding: 13px;
        cursor: pointer;
        .bp (S; {
            width: 39%;
            height: 31px;
            padding: 3px;
            font-size: 12px;
            margin-top: 3%;
            margin-right: 1%;
        });
    }

    .join-icon {
        height: 27px;
        float: left;
        left: 0;
        transform: none;
        .bp (S; {
            display:none;
        });
    }
    
    .join-caption {
        font-size: 14px;
        .bp (S; {
            font-size:8px;
            margin: 0px auto;
        });
    }
    
    .confirm-caption {
        font-family: 'DINNextLTPro-Light';
        font-size: 16px;
        color: @color-black;
        position: relative;
        display: block;
        margin: 0px auto;
        text-align: center;
        padding-top: 3%;
        .bp (S; {
            font-size: 11px;
        });
    }
    
    .confirm-box {
        color: @color-black;
        font-size: 20px;
        position: absolute;
        height: 132px;
        width: 90%;        
        line-height: 23px;
        padding: 0px;
        z-index: 10;
        box-shadow: 0px 2px 4px 2px rgba(202, 202, 202, 0.5);
        border-radius: 10px;
        background-color: white;
        .bp (S; {
            width: 85%;
            height: 71px;
            line-height: 13px;
        });
    }
    
    .confirm-price {
        display: block;
        font-size: 14px;
        text-align: center;
        .bp (S; {
            font-size: 10px;
        });
    }

    .button, input, select, textarea {
        font-family: Sailec-Bold;
        font-size: 20px;
        line-height: inherit;
        width: 50%;
        color: white;
    }
    
    .cancel {
        border: 1px solid @color-destroy;
        color: @color-destroy;
        border-radius: 4px;
        width: 35%;
        position: absolute;
        bottom: 10px;
        left: 5px;
        height: 55px;
        background: none;
        font-size: 16px;
        padding: 0px;
        letter-spacing: .64px;
        line-height: 55px;
        .bp (S; {
            font-size: 11px;
            height: 35px;
            width: 39%;
            line-height: 35px;
            bottom: 4%;
        });
    }

    .cancel-icon {
        transform: none;
        top: initial;
        left: initial;
        height: 5%;
        display: inline;
        height: 17px;
        margin-right: 5%;
        .bp (S; {
            display:none;
        });
    }
    
    .confirm {
        color: white;
        border-radius: 4px;
        width: 58%;
        height: 55px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        line-height: 55px;
        background: #37DBF2;
        border: none;
        .bp (S; {
            font-size: 11px;
            width: 54%;
            height: 35px;
            line-height: 35px;
            bottom: 4%;
            right: 3%;
        });
    }

    .join-confirm-icon {
        transform: none;
        top: 10px;
        left: 20px;
        height: 27px;
        float: left;
        .bp (S; {
            display:none;
        });
    }

}
