@import (inline) "bootstrap.min.css";
@import (less) "jumbotron-narrow.css";
@import "fonts";
@import "modal";
@import "library";

body {
  padding:0px;
}

/* bootstrap nav overrides */

.header {
    border:none;
}

.credit-count {
    float: right;
    display: block;
    line-height: 1em;
    font-size: 17px;
    width: 100px;
    background-color: @color-blue;
    color: white;
    border-radius: 4px;
    margin-top: 30px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 8px;
    line-height: 11px;
    margin-right: 2rem;
    letter-spacing: .3px;
    cursor:pointer;
    .bp (S; {
      display:none;
      });
}

#navbar {
  font-family:Sailec-Regular;
}
nav.navbar-default {
  margin-bottom: 0;
  background: white;
  margin-bottom: .25em;
  padding-bottom: 0px;
  border: 0;
  border-radius: 0;
  color: @color-gray-font;
  height: 115px;
  border-bottom: 1px solid @color-lightlightgray;

  .bp(S; {
        height: 55px;
    });

  .navbar-center {
    padding-top: @padding-top-nav;
    line-height: @font-size-nav;
  }

  .navbar-right {
    padding-right: 1em;
    font-size: 12px;
    color:@color-gray-font;
  }

  .navbar-nav > li > a {
    color: white;
    line-height: @font-size-nav;
    z-index:300;
  }

  .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    background-color: @color-blue;
    color: white;
  }

  .navbar-brand {
    position:relative;
    bottom:-1vh;
    left:6vh;
    .bp(S; { 
      transform: scale(.6);
      position: absolute;
      left: -22px;
      bottom: 16px;
      });
  }

  .avatar-box {
    display: inline-table;
    .bp (S; {
      display:block;
      });
  }

  .avatar-label {
    font-size: 17px;
    padding-left: 5px;
    position: absolute;
    top: 32%;
    left: 41%;
    font-family:Sailec-Regular;
    .bp (S; {
      display:none;
      });
  }

  .navbar-separate {
    border-left: 1px solid @color-lightgray;
    display: inline-table;
    position: absolute;
    height: 115px;
    .bp (S; {
      display:none;
      });
  }

  @media (min-width: 768px) {
    .navbar-nav > li.attr {
      padding-top: @padding-top-nav;
      padding-bottom: 15px;
      margin-left: 1em;
      line-height: @font-size-nav;
      position: relative;
      width: 7rem;
      float: left;
    }
  }

  .navbar-nav > li.attr > .val {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
    font-weight: bold;
  }

  .navbar-nav > li.attr > .label {
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    .bp (S; {
      font-size:10px;
      z-index:200;
      });
  }

  // ul:after {
  //   content: "";
  //   clear: both;
  //   display: block;
  // }

  ul li.dropdown {
    width: 17rem;
    overflow: visible;
    float: right;
    top: 35px;
    left: 16px;
    bottom: 0px;
    z-index:200;
    .bp (S; {
      width:5rem;
      top: -13px;
      left:0;
      right: 16px;
      bottom: 0px;
      });
  }

  ul li.dropdown img.avatar {
    position: relative;
    float: left;
    margin-left: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 20%;
    border: 2px solid @color-lightgray;
    .bp (S; {
    float: right;
      });
  }

  ul li.dropdown img.arrow {
    width: 2rem;
    margin-left: 2rem;
  }

  ul li a {
    text-decoration: none;
    cursor:pointer;
  }

  ul li ul {
    display: none;
    position: absolute;
    left: 6rem;
    top: 6rem;
    padding: 0;
    z-index: 10;
  }

  ul li ul li {
    float: none;
    list-style: none;
    position: relative;
    height: 4rem;
  }

  ul li ul li a {
    font-family: Sailec-Regular;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    padding: 15px;
    color: @color-gray-font;
  }

  ul li ul li a:hover {
    color:white;
  }
  ul li ul li:hover,
  ul li ul li:active {
    background: @color-blue;
    font-family: Sailec-Regular;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
  }

@media (min-width: 768px) {
  ul li:hover ul{
    display: inherit;
    width: 90%;
    left: 1rem;
    top: 5rem;
    padding: 0;
    background: @color-blue;
    z-index: 10;
    background: white;
    border: 1px solid @color-lightgray;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    color: @color-gray-font;
  }
}
}

/* end bootstrap nav overrides */


.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}

.tiny-padding {
  padding: 2px 2px;
}

.navbar-collapse {
  position: relative;
}

.navbar-center {
  text-align: center;
  padding-top: 1%;
}

.nav-arrow {
  position: absolute;
  right: 35px;
  top: 30%;
  .bp (S; {
    opacity:0;
    });
}

 /* TABS */
 .all-tabs {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0px auto;
    font-size: 22px;
    text-align: center;
    height: 52px;
    line-height: 52px;

  .bp(S;{
    list-style: none;
    display: block;
    width: 100%;
    margin: 0px auto;
    font-size: 10px;
    text-align: center;
    height: 42px;
    line-height: 32px;
    padding-left: 0px;
    });

  li {
    display: inline;
    padding: 17px;
    cursor: pointer;
    position: relative;
  }
 }
  .selected-tab {
    border-bottom: 8px solid @color-blue;
    color: @color-black;
    .bp (S; {
        border-bottom: 3px solid @color-blue;
      });
  }

 .joined-tab-count {
  color: #2EBCCD;
 }

.msg-none {
    display: block;
    margin: 0px auto;
    width: 50%;
    text-align: center;
    line-height: 300px;
    font-size: 1.5em;
    font-style: italic;
    .bp(S;{
      font-size:1em;
      width:100%;
      });
}

.join-button {
    display: block;
    margin: 0px auto;
    font-size: 20px;
    .bp (S; {
      padding-top: 2px;
      font-size: 12px;
      line-height: 11px;
    });
}

/*FOOTER */
  .footer {
    padding-right: 0;
    padding-left: 0;
    font-size: 10px;
    color: @color-gray-font;
    background-color: @color-lightlightgray;
    bottom: 0;
    width:100%;
    padding:1%;
    display:flex;
    justify-content:space-between;
    min-height:10vh;
    .bp (S; {
      font-size:7px;
      padding:4%;
      });
  }

  .footer .footer-disclaimer {
    width:60%;
    font-size:10px;
    .bp (S; {
      font-size:7px;
      });
  }
/*index nav */

.navbar-top-text {
  color: #3F4C60;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  top: -10px;
  right: 30px;
  cursor: pointer;
  font-size:18px;
  .bp (S; {
    font-size:12px;
    });
}


.index-login {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: @color-blue;
  border: 2px solid @color-blue;
}

.index-login:hover {
  cursor:pointer;
}

/*index nav OVERRIDES */
@media (min-width: 600px) {
.navbar-right {
  margin-right:0px;
  }
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        color:white;
    }
}


  /* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-hang:before {
    position: absolute;
    top: 31px;
    right: 2%;
    font-size: 32px;
    padding: 0 1px;
    content:url(/static/img/down.svg);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    .bp (S; {
        font-size: 16px;
        transform:scale(.5,.5);
        top: 44%;
        right: -6%;
    });
}
.hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
@-webkit-keyframes hvr-icon-bob {
    0% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    
    100% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

@keyframes hvr-icon-bob {
    0% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    
    100% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

@-webkit-keyframes hvr-icon-bob-float {
    100% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

@keyframes hvr-icon-bob-float {
    100% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

.hvr-icon-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-bob:before {
    position: absolute;
    right: 4%;
    bottom: 4%;
    font-size: 32px;
    padding: 0 1px;
    content:url(/static/img/down.svg);
    -webkit-transform: translateZ(0);
    transform: rotate(180deg) translateZ(0);
    .bp (S; {
        bottom: 5%;
        right: 5%;
        font-size: 16px;
        height: 10px;
    })
}
.hvr-icon-bob:hover:before, .hvr-icon-bob:focus:before, .hvr-icon-bob:active:before {
  -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
  animation-name: hvr-icon-bob-float, hvr-icon-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}



  #navbar-toggle-cbox {
    display:none;
  }

@media (max-width: 768px) {
  #navbar-toggle-cbox:checked ~ .collapse {
    display: block;
    background: white;
    border: 1px solid @color-lightgray;
    left: -40px;
    padding: 15px;
    top: 54px;
  }
}

