#default_page {

    @box-height: 582px;

    .default-box {
        min-width:100%;
        min-height:74vh;
        background-color:@color-backgroundgray;
        padding-bottom: 2%;
        padding-left: 8vh;
        padding-right: 8vh;
        border-top: 1px solid @color-lightgray;
        .bp (S; {
            padding-left: 2vh;
            padding-right: 2vh;  
            });
    }

    .text {
        padding:45px;
        .bp (S; {
        padding: 25px;
        font-size: 9px;
            });
    }

    .row {
        margin-top:2%;
        .bp (S; {
            margin-top:0%;
            });
    }

    p {
        font-size: 1.5em;
    }

    /*Profile*/

    .profile {
        background: @color-blue;
        border-radius: 4px;   
        display:flex;    
        flex-wrap:wrap;
        padding: 5%;
        .bp (S; {
            margin-top:2%;
            });
    }

    .profile-welcome {
        font-size: 1.5em;
        color: white;
        display: block;
        width: 53%;
        padding:1%;
        line-height:10vh;
        float:right;
        .bp (S; {
            font-size:15px;
            });
    }

    .welcome-text {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

    .profile-img {
        width:40%;
        display: block;
        float:left;
    }

    .profile-top{
        width:100%;
        .bp (S; {
            width: 80%;
            display: block;
            margin: 0px auto;
            });
    }

    .profile-bottom{
        display: block;
        margin: 0px auto;
        margin-top: 10%;
        width: 100%;
    }

    .buy-box {
        text-align: center;
        font-family: Sailec-Bold;
        z-index: 200;
        margin: 0px auto;
        margin-top: 2%;
    }

    .buy-box-img {
        width: 70px;
    }

    .buy-box-msg {
        font-size: 12px;
        color: #FFB441;
        padding: 5px;
    }

    /*Promotionals*/

    .bubbles {
        position: absolute;
        right: -1%;
        top: 10%;
        width: 30%;
        .bp (S; {
        right: 2%;
        top: 22%;
        width: 35%;
            });
    }

    .promotion-img {
        width: 100%;
    }


    .item {
        margin-top: 30px;
        padding: 3%;
        .bp (M; {
            transform: scale(.8,.8);
        });
        .bp (LtoXL; {
            margin-top: 30px;
            margin-right: 25px;
            });
    }

    .item-img {
        display: block;
        margin: 0px auto;
        max-width:100%;
        .bp (S; {
            max-width:60%;
            });
    }

    .item-title {
        text-transform: uppercase;
        font-size: 10px;
        font-family: Sailec-bold;
        color: #656565;
        text-align: center;
        display: block;
        padding-top: 5%;
        .bp (LtoXL; {
            font-size:1em;
        });
    }

    .item-array {
        .bp (LtoXL; {
        display:flex;
        });
    }

    .item-time {
        font-family: Sailec-bold;
        color: #37DBF2;
        font-size: 10px;
        text-align: center;
        display: block;
        padding-bottom: 5px;
        
        .bp(LtoXL; {
            font-size:1em;
        });
    }

    .subheader {
        font-family: Sailec-Regular;
        display: block;
        margin: 0px auto;
        margin-top: 15px;
        text-align: left;
        line-height: 2em;
    }

    .default-title {
        font-family: Sailec-Blackitalic;
        font-size: 2em;
        color: @color-gold;
    }

    .announcement {
        font-size: 3em;
        color: @color-blue;
        font-family: Sailec-Bold;
        display:block;
        text-align:center;
    }

    .announcement-subheader {
        text-align:center;
    }

    .silver-title {
        color: @color-silver;
    }

    .bronze-title {
        color: @color-bronze;
    }

    .default-boxes {
        display:flex;
        background-color: white;
        box-shadow: 0 1px 3px 1px rgba(158,158,158,0.50);
        flex-direction:column;
        .bp (S; {
            margin-top:2%;
            });
        .bp (M; {
            margin-top:2%;
            });
        .bp (LtoXL; {
            min-height:@box-height;
            });
    }

    .profile-text{
        float: right;
        display: block;
        width: 50%;
        .bp (S; {
            font-size:.75em;
            });
    }

    .last-played {
        float: left;
    }

    .bold-text {
        line-height: 1em;
        text-align: center;
        font-size: 1em;
        color: white;
        font-family: Sailec-Bold;
        letter-spacing: .3px;
    }

    .upcoming-box {
        min-height: @box-height/2;
    }

    .waiting-box {
        display: block;
        margin: 0px auto;
        text-align: center;
        width: 80%;
        margin-top: 12%;
    }

    .waiting-text {
        font-size: 1.5em;
        width: 78%;
        margin-top: 21%;
        float: right;
    }

    .waiting-img {
        height: 190px;
        float: left;
        .bp (S; {
            height: 110px;
            });
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }
}
