@font-path: "/static/font";

@font-face {
    font-family: 'Futura';
    src: url('/static/font/FuturaMedium.eot');
    src: url('/static/font/FuturaMedium.eot?#iefix') format('embedded-opentype'),
    url('/static/font/FuturaMedium.woff') format('woff'),
    url('/static/font/FuturaMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec-RegularItalic';
    src: url('/static/font/Sailec-RegularItalic.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Sailec-LightItalic';
    src: url('Sailec-LightItalic.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sailec-LightItalic';
    src: url('/static/font/Sailec-LightItalic.otf') format('opentype'), url('Sailec-LightItalic.ttf')  format('truetype'), url('Sailec-LightItalic.svg#Sailec-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec-Bold';
    src: url('/static/font/Sailec-Bold.eot?#iefix') format('embedded-opentype'),  url('/static/font/Sailec-Bold.otf')  format('opentype'),
    url('/static/font/Sailec-Bold.woff') format('woff'), url('/static/font/Sailec-Bold.ttf')  format('truetype'), url('/static/font/Sailec-Bold.svg#Sailec-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Sailec-Regular';
    src: url('/static/font/Sailec-Regular.eot?#iefix') format('embedded-opentype'),  url('/static/font/Sailec-Regular.otf')  format('opentype'),
    url('/static/font/Sailec-Regular.woff') format('woff'), url('/static/font/Sailec-Regular.ttf')  format('truetype'), url('/static/font/Sailec-Regular.svg#Sailec-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec-BlackItalic';
    src: url('/static/font/Sailec-BlackItalic.eot?#iefix') format('embedded-opentype'),  url('/static/font/Sailec-BlackItalic.otf')  format('opentype'),
    url('/static/font/Sailec-BlackItalic.woff') format('woff'), url('/static/font/Sailec-BlackItalic.ttf')  format('truetype'), url('/static/font/Sailec-BlackItalic.svg#Sailec-BlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec-Light';
    src: url('/static/font/Sailec-Light.eot?#iefix') format('embedded-opentype'),
    url('/static/font/Sailec-Light.woff') format('woff'),
    url('/static/font/Sailec-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'DINNextLTPro-Regular';
    src: url('/static/font/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/font/DINNextLTPro-Regular.otf')  format('opentype'),
        url('/static/font/DINNextLTPro-Regular.woff') format('woff'),
        url('/static/font/DINNextLTPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextLTPro-Light';
    src: url('/static/font/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
        url('/static/font/DINNextLTPro-Light.otf') format('opentype'),
        url('/static/font/DINNextLTPro-Light.woff') format('woff'),
        url('/static/font/DINNextLTPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
