/* !important to override inline styling */
.modal-dialog {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important;
}

.auction-end-image {
  width: 80%;
  height: auto;
}
