@import "fonts";
@import "modal";
@import "modal_buy_credits";
@import "modal_auction_end";
@import "modal_auction_end_pay";
@import "modal_auction_end_addr";
@import "modal_auction_pay_confirm";
@import "default_page";
@import "modal_watch_confirm";
@import "library";

.header {
    padding-bottom: 0;
    border-bottom: 0;
    .bp(S; {
        padding-left: 0px;
        padding-right:0px;
    });
}

/*_____AUCTIONS_____*/


#auctions-all {
    @import "auction_upcoming";
    @import "auction_live";
    @import "auction_joined";
    color: #999;
    font-family:Sailec-Regular;

    @active-upcoming-half-margin: 2rem;
    
    .layout-main {
        position: relative;
        width:100%;
    }
    
    section > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    @auction-tile-padding: 2rem;
    @auction-tile-border-width: .3rem;

    
    .auctions-active,
    .auctions-upcoming,
    .auctions-joined,
    {
        padding-left:0px;
        overflow-x: scroll;
        background-color: #F5F5F5;
        margin-top: 0px;
        background-color: #f8f8f8;
        flex:2;
        min-height: 74vh;
        margin-bottom:0px;
        padding-top: 4vh;
    }

    .auctions-active ul,
    .auctions-upcoming ul,
    {
        display: flex;
        flex-direction: row;
    }

    .auctions-active li,
    .auctions-upcoming li,
    {
        list-style-type: none;
    }

    .auctions-joined ul {
        list-style:none;
    };
    
    .title {
        font-size: 18px;
        width: 60%;
        float: left;
        padding: 15px;
        color: black;
        text-decoration: none;
        cursor: pointer;
        max-height:70px;
        .bp (S; {
            min-height: initial;
            font-size: 10px;
            width: 59%;
            padding: 4%;
            max-height: 40px;
        });
    }
    display:flex;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    .bp(S;{
        overflow-x: hidden;
    });
}