@import "fonts";
@import "modal";
@import "library";

.label {
  display: inline;
  padding: 0;
  /* padding: .2em .6em .3em; */
  font-size: 100%;
  /* font-size: 75%; */
  font-weight: normal;
  /* font-weight: 700; */
  line-height: 1;
  color: inherit;
  /* color: #fff; */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}
/* end bootstrap overrides */
/* end jumbotron-narrow.css overrides */
body {
  padding-top: 0;
  padding-bottom: 0;
  width: 1500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.header {
  padding-bottom: 0;
  border-bottom: 0;
}

@media (min-width:769px) {
  .header {
    position: absolute;
    padding-left: 7%;
    padding-top: 5%;
  }
}

h1 {
  font-family:"Sailec-Bold", Sailec;
  color:white;
  font-size:48px;
}

h2 {
  font-family:"Sailec-Bold", Sailec;
  color:white;
  font-size:20px;
}

@media (max-width: 479px) {
  h1 {
    font-size:36px;
  }

  h2{
    font-size:16px;
  }
}

/*********
  NAVBAR
**********/
nav {
  max-height: 85px;
  color: #FFF;
  font-family: "Sailec-Bold", Sailec;
  font-size: 18px;
  text-transform: uppercase;
  background: #03919e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #03919e 0%, #2fc2cf 50%, #03919e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #03919e 0%, #2fc2cf 50%, #03919e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #03919e 0%, #2fc2cf 50%, #03919e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03919e', endColorstr='#04929e', GradientType=1);
  /* IE6-9 */
  z-index:10;
  padding-left:0px;
}

nav ul {
  padding: 0;
  margin-top: -25px;
  display: inline;
}
nav li {
  display: inline;
}
#nav-links li {
  margin: auto 15px;
}

nav a {
  color: #fff;
}

.nav-index-logo {
  margin-top: 3em;
  margin-left: 6em;
  width: 160px;
  z-index: 200;
  position: absolute;
  .bp (S; {
  width:30%;
  padding:0px;
  padding-bottom:10px;
  margin:0px auto;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top:50px;
  }); 
}

.nav>li {
  z-index: 300;
  margin-top:30px;
  .bp (S; {
  display:inline-block;
  float:right;
  margin-top:0px;
    });
}
/*************
  MOBILE NAV
**************/
#mobile-header {
  width: 230px;
  margin: -15px auto;
}
#menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 56px;
  padding: 5px 15px 0 15px;
  /*background-color: rgba(0,0,0,0.1)*/
}
#mobile-menu {
  display: none;
  transform: translateY(50px);
  background-color: rgba(0, 0, 0, 0.3);
}
#mobile-menu li {
  display: block;
  text-align: center;
  font-size: 36px;
  margin: 20px auto;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#mobile-menu li:last-of-type {
  border-bottom: none;
}

/**************
  DESCRIPTION
***************/


#description {
    background: url(../img/bannerimage2.png) no-repeat center center;
    background-size: 710px;
    height: 550px;
    background-color: #878787;
    background-position-x: 68%;
    background-position-y: 100%;
    padding-top: 5%;
    width: 1500px;
  }
@media (max-width: 479px) {
  #description {
    line-height: 55px;
    font-size: 45px;
    width: 100%;
    padding-left: 0px;
    background-size: 370px;
    background-position-x: 50%;
    padding: 1%;
    background-color: #878787;
    width: 100%;
    height: 610px;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  #description {
    background-size: 477px;
    background-position-x: 250px;
    background-position-y: 320px;
    height: 700px;
  }
}
#description .row {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 8rem;
}

@media (max-width: 479px) {
  #description .row {
    padding-left:0em;
  }
}
#description span {
    font-family: Sailec-BlackItalic;
    font-size: 75px;
    color: #36D3E6;
    letter-spacing: -0.69px;
    line-height: 80px;
    width: 100%;
    padding-top: 35px;
}
@media (min-width: 480px) and (max-width: 991px) {
  #description span {
    font-size: 64px;
    padding-right:0px;
  }
}
@media (max-width: 479px) {
  #description span {
    line-height: 35px;
    padding-top: 19px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    font-size: 34px;

  }
}
#description .subtitle {
  font-family: 'Sailec-Regular';
    color: #C6C9C2;
    font-size: 18px;
    line-height: 32px;
    padding-top: 15px;
    text-align: left;
    padding-right: 60%;
    letter-spacing: 0.1px;
}
@media (max-width: 479px) {
  #description .subtitle {
        line-height: 20px;
    font-size: 14px;
    width: 80%;
    margin-top: 0em;
    text-align: center;
    padding-right: 0px;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  #description .subtitle {
    padding-right:0px;
  }
}

#description row {
  min-height: 275px;
}
#desc-left {
  border-right: 1px solid #989898;
}
#desc-left h1 {
  font-family: 'Bebas Neue Bold', sans-serif;
  color: #ed403d;
  font-size: 86px;
  padding-right: 15px;
  margin-top: 0;
}
#desc-right p {
  font-family: 'Bryant Medium';
  font-size: 28px;
  padding-left: 15px;
  margin-top: -10px;
}
#desc-right img {
  vertical-align: text-bottom;
}

/**************
email
***************/
#email-form {
  font-family: 'Bryant Medium';
  font-size: 28px;
  text-align: center;
  margin: auto;
  padding-bottom: 3rem;
}
#email {
      background-color: #757575;
    background-position-y: -329px;
    background-repeat: no-repeat;
    padding-bottom: 5%;
    width: 1500px;
}
@media (min-width: 480px) and (max-width: 991px) {
#email {
    width: 775px;
}
  }
#email h1 {
  font-size: 45px;
    margin-top: 0%;
    color: #F5F8F1;
    text-align: center;
    padding-top: 7%;
    font-family: Futura;
}
@media (max-width: 479px) {
  #email h1 {
    font-size: 36px;
  }
  #email {
    padding: 25px;
    width:100%;
  }
}
#email label {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  width: 100%;
  text-align: center;
  font-family: "Sailec-Regular";
  color:#F5F8F1;
  font-size:16px;
}
#email-form .clear {
  overflow: overlay;
}

@media (max-width: 479px) {
  .subscribe {
        margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  .subscribe {
    margin-left: 4em;
  }
}
a:hover {
  text-decoration: none;
  color: #2C2C2C;
  cursor: pointer;
}
#subscribe-button {
  display: inline;
  margin-left: auto;
}



/*********
  FOOTER
**********/
footer {
  font-family: "Bryant Light";
  font-size: 20px;
  background-color: #d0d0d0;
  padding: 50px;
  color: #9c9b9b;
  padding-bottom: 0.5em;
}
@media (max-width: 479px) {
  footer p .disclaimer{
    font-size:7px;
  }
}
footer p {
  padding-left: 2em;
  font-family: 'Sailec-Regular';
}
@media (max-width: 479px) {
  footer p {
    font-size: 50%;
  }
}
#foot-right {
  text-align: right;
}
footer a {
  color: #9c9b9b;
}
footer a:first-of-type {
  margin-right: 20px;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}
/*****************
  RESPONSIVENESS
******************/
@media (max-width: 992px) {
  #social-links {
    display: none;
  }
  #desc-left {
    border-right: none;
  }
}
@media (min-width: 750px) {
  #mobile-header {
    display: none;
  }
}
@media (max-width: 750px) {
  #nav-links {
    display: none;
  }
}
@media (max-width: 630px) {
  .jumbotron {
    height: 400px;
  }
  #description {
    padding-top: 110px;
    background-color: #878787;
    width: 100%;
    height: 610px;
  }
  #steps div {
    border-radius: 0;
    margin-left: -65px;
    margin-right: -65px;
  }
  #desc-left h1 {
    font-size: 72px;
  }
  #desc-right p {
    font-size: 24px;
  }
  #steps {
    font-size: 24px;
  }
}

#modal-wrapper {
  z-index:500;
}

#modal-wrapper #modal-body {
  position: absolute;
  padding-top: 3%;
  left: 30%;
  margin: 0px;
  width: 40%;
  top: 7%;
  height: 530px;
  background: white;
  z-index: 101;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 2px 0px rgba(174, 174, 174, 0.86);
  .bp (S; {
    width: 80%;
    top: 10%;
    height: 470px;
    left: 10%;
    });
}

#modal-wrapper h3 {
  font-size: 32px;
  text-decoration: none;
  text-align: center;
  color: #656565;
  margin: 0;
  margin-bottom: 6%;
  font-family: Sailec-bold;
  .bp (S; {
    font-size:18px;
    });
}

#modal-wrapper .modal-background {
   background: rgba(255, 255, 255, 0.6);
   position: absolute;
   z-index: 100;
   width: 100%;
   height: 300%;
   top: 0;
   left: 0;
}
// =======
@media (max-width: 550px) {
  #steps div {
    padding: 20px 10px;
  }
}

@media (max-width: 395px) {
  footer a:first-of-type {
    margin-right: 0;
  }
}
section#auctions {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: table;
}
section#auctions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: 1rem;
}
section#auctions ul li {
  margin-left: 2rem;
  margin-right: 2rem;
}
section#auctions li > div {
  border-radius: .6rem;
  box-shadow: 2px 2px 1px #ccc;
  padding: 2rem;
}
section#auctions li > div {
  background: #eaeaea;
}
section#auctions .main-img {
  position: relative;
  width: fit-content;
}
section#auctions .main-img img {
  height: 200px;
  width: 300px;
  position: relative;
  padding-top: 10px;
}
section#auctions .main-img .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: gray;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#auctions .main-img .overlay:hover {
  opacity: 0.6;
  cursor: pointer;
}
section#auctions .main-img .overlay span:hover {
  opacity: 1;
  cursor: pointer;
}
section#auctions .main-img .overlay span {
  border: solid 1px;
  color: #ffffff;
  border-color: #bcbcbc;
  width: fit-content;
  font-size: 2.5em;
}
section#auctions .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
section#auctions .info .bid-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  border-bottom: 1px solid;
}
section#auctions .info .time-remaining {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}
section#auctions .info .bid-price .val {
  font-size: 2em;
  font-weight: bold;
  color: #13a3b0;
}
section#auctions .info .bid-price .label {
  font-size: 1.2em;
}
section#auctions .info .time-remaining .val {
  font-size: 1.7em;
}
section#auctions .info .start-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
section#auctions .info .start-time .val {
  font-size: 2.25em;
}
section#auctions div.auction-upcoming {
  height: 100%;
}

#register, #login {
    font-family: "Sailec-Regular";
    position: absolute;
    left: 50%;
    margin-right: -50%;
    top: 50%;
    transform: translate(-50%,-50%);

  .inputs {
    margin-left: 15rem;
    margin-right: 15rem;
    .bp (S; {
      margin:0px auto;
      });
  }

  .input {
    font-family: 'Sailec-Regular';
    font-size: 15px;
    margin-top: 2.5rem;
  }

  input {
    border: 1px solid #d5d5d5;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 1.5%;
    padding-left: 4%;
}

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .buttons button.confirm {
    margin-top: 2%;
    font-size: 1.5rem;
    border: none;
    background-color: @color-blue;
    border-radius: .25rem;
    color: white;
    width: 47%;
    padding-top: 2.75%;
    padding-bottom: 1.5%;
    .bp (S; {
        width:67%;
      });
  }

  .buttons button.confirm.loading {
    background-color: grey;
  }

  input.error {
    border: solid red .1rem;
  }

  ul.errors {
    list-style: none;
    color: red;
    font-size:10px;
    position:absolute;
    padding-left:0px;
    .bp (S; {
    font-size: 8px;
    line-height: 8px;
      });
  }
}

/*************
    INTRO
**************/



#intro {
  padding: 6%;
  height: 700px;
  background-repeat: no-repeat;
  background-image: url(/static/img/desktop-bg.png);
  background-size: cover;
  position: relative;
  top: 0;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}



@media (max-width: 479px) {

#intro {
  background-image: url(/static/img/mobile-bg2.png);
  background-color:#FFFCF8;
  height: 435px;
  background-size: 100%;
  position: absolute;
  top: 0px;
  z-index:-1;
  }
}

.join-bargible {
  background-color: #37DBF2;
  border-radius: 10px;
  border: none;
  height: 54px;
  color: white;
  width: 208px;
  font-family: Sailec-Regular;  
  display: block;
  margin: 0px auto;
  position: absolute;
  left: 6%;
  top: 69%;
}


@media (max-width: 479px) {
.join-bargible {
  background-color: #37DBF2;
  border-radius: 10px;
  border: none;
  height: 54px;
  color: white;
  width: 208px;
  font-family: Sailec-Regular;  
  display: block;
  left: 0;
  right: 0;
  margin: 0px auto;
  top:362px;
}
}

  .intro-text{
    text-align: left;
    color: #3F4C60;
    width: 57%;
    line-height: 63px;
    display: flex;
    margin-top: 9%;
    margin-left: 0px;
    margin-bottom: 2%;
    font-size:50px;
  }

@media (max-width: 479px) {
.intro-text {
  text-align: center;
  color: #3F4C60;
  width: 57%;
  line-height: 30px;
  display: block;
  margin: 0px auto;
  margin-top: 30%;
  margin-bottom:8%;
  font-size:24px;
}
}



.join-bargible-button-text {
  font-size:16px;
  font-family:Sailec-Regular;
  color:white;
  line-height:57px;
  margin-left:20px;
}


.join-bargible-text {
    text-align: left;
    width: 50%;
    margin-left: 0px;
    font-size: 24px;
    margin-top: 0px;
    line-height: 43px;
  }

@media (max-width: 479px) {

.join-bargible-text{
  font-size:16px;
  font-family:Sailec-Regular;
  color:white;
}
}

.join-img {
  position: absolute;
  top: 9%;
  right: 10%;
  width: 23%;
}

@media (max-width: 479px) {

.join-img {
  display:none;
}
}

#join-caption {
  display: block;
  text-align: left;
  width: 50%;
  font-size: 20px;
  line-height: 42px;
  font-family: "Sailec-Regular", Sailec;
  margin-bottom:6%;
  color:#8e8e8e;
}

@media (max-width: 479px) {
#join-caption{
  font-size:12px;
  font-family:"Sailec-Regular", Sailec;
  text-align:center;
  display:block;
  width:90%;
  margin:0px auto;
  margin-top:8%;
  line-height:30px;
}
}


/*************
   UPCOMING
**************/

#upcoming-products {
  padding:6%;
  color:white;
  background-color:#37DBF2;
  display:flex;
}

@media (max-width:479px) {
  #upcoming-products {
    display:none;
  }
}

.upcoming-text {
  text-align:left;
  margin-bottom:5%;
}

.upcoming-text-box{
  flex-direction:column;
  width:65%;
}

.upcoming-caption {
  display:block;
  text-align:left;
  margin-bottom:5%;
  line-height: 42px;
  font-family: "Sailec-Regular", Sailec;
}

.upcoming-array {
  display:block;
  width:90%;
  margin:0px auto;
  text-align:center;
}

.upcoming-img {
  margin:3%;
  max-width:150px;
}
/*******************
   LANDING-STEPS
********************/



.lightning {
  float: left;
  padding-left: 30px;
  margin-top: 10px;
}

.symbol1 {
  position: absolute;
  top: 8px;
  left: 20px;
  z-index:1;
}

.symbol2{
  position:absolute;
  left: -5px;
  transform: rotate(10deg);
  width: 42px;
  top: 160px;
  z-index:1;

}

.symbol3{
  position:absolute;
  right: 50px;
  transform: rotate(-20deg);
  width: 16px;
  top: 50px;
  z-index:1;
}

.symbol4{
  position: absolute;
  right: 49px;
  width: 27px;
  top:240px;
  z-index:1;
}

.symbol5{
  position: absolute;
  right: 529px;
  width: 27px;
  top: 480px;
  z-index: 1;
}

.symbol6 {
  position: absolute;
  left: 40%;
  transform: rotate(10deg);
  width: 42px;
  top: 200px;
  z-index: 1;
}

.symbol7{
  position: absolute;
  top: 138px;
  right: 160px;
  z-index: 1;
}

.symbol8{
  position: absolute;
  right: 60px;
  transform: rotate(-20deg);
  width: 46px;
  top: 550px;
  z-index: 1;
}

.symbol9{
  position: absolute;
  left: 25px;
  transform: rotate(15deg);
  width: 126px;
  bottom: 9%;
  z-index: 1;
}

@media (max-width:479px) {
  .symbol9{
    display:none;
  }
  .symbol8 {
    display:none;
  }
}
/*************
    STEPS
**************/

@media (min-width:769px) {
  .liveupcoming-text {
    margin-left:55%;
    width:40%;
  }
}

@media (min-width:769px) {
  .gameui-text {
    margin-left:55%;
    width:40%;
    margin-top:-35%;
  }
}

@media (min-width:769px) {
  .auctionend-text {
    margin-left:55%;
    width:40%;
    margin-top:-35%;
  }
}

#landing-step {
  position: relative;
  height: 755px;
  width: 100%;
}

@media (max-width:479px) {
#landing-step {
  position: absolute;
  height: 725px;
  width:100%;
  }
}


@media (min-width:769px) {
#landing-step {
  top:0px;
  }
}

.liveupcoming {
  top: 435px;
  background-color: #FFDD6B;
}

.gameui {
  top: 1160px;
  background-color: #FB7A87;
}

.auctionend {
  top: 1885px;
  background-color: #13C89A;
}

.intro-image {
  display: block;
  height: 500px;
  position: relative;
  margin: 0px auto;
  top: 45px;
  z-index:10;
}

@media (min-width:769px) {
  .intro-image {
    display: inline-block;
    margin-left: 15%;
    width: 28%;
    height: auto;
    margin-top:-4%;
  }
}

.credit-image {
  position: inherit;
  left: 25%;
  margin-top: 23px;
}


@media (min-width:769px) {
  .credit-image {
    position: relative;
    left: 22%;
    width: 8%;
    margin-top: -10%;
  }
}

.landing-steps-title {
  text-align: center;
  margin-top:50px;
}

#landing-join {
  margin-left:85px;
}

@media (min-width:769px) {
  #landing-join {
    margin-top:-77%;
  }
}

.landing-steps-caption {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  line-height: 25px;
  margin-top: 20px;
  font-family:"Sailec-Regular", Sailec;
  z-index:2;
}

@media (min-width:769px) {
  .landing-steps-caption {
    line-height: 36px;
    font-size: 24px;
    margin-top: 5px;
  }
}

/**************
    HOW TO 
***************/

@media (max-width:479px) {
#how-to {
  display:none;
}
}

.how-to-box {
  background: #FFFFFF;
  box-shadow: 2px 2px 5px 5px rgba(211,211,211,0.50);
  border-radius: 15.28px;
  display:flex;
  flex-direction: column;
  padding:5%;
  font-size:16px;
  font-family:"Sailec-Regular", Sailec;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 2%;
  max-height:620px;
}

.element-icon {
  max-width:100px;
  margin-top:5%;
}

.game-panel {
  width:60%;
  float:left;
  color:#8e8e8e;
}

.game-elements {
  flex-direction:row;
  color:#8e8e8e;
}

.game-elements-section {
  border-left: 1px solid #d5d5d5;
  margin-left: 2%;
  padding-left:6%;
}

.game-elements-title {
  color:#494F73;
  font-family:"Sailec-Bold", Sailec;
}

.game-elements-text {
  float:left;
  margin-right:8%;
  margin-top:5%;
  height:35%;
}

.game-function-img {
  max-width:60px;
}

.game-panel-info {
  float: right;
  width: 46%;
  line-height: 27px;
  margin-top: 3%;
}

.game-panel-img {
  max-height:430px;
  margin-top: 3%;
  max-width:50%;
}

.game-panel-subtitle {
  margin-left:2%;
  color: #494F73;
  font-family: "Sailec-Bold", Sailec;
}

.game-panel-title {
  color: #494F73;
  font-family:"Sailec-Bold", Sailec;
  margin-bottom: 2%;
}

.credit-info-title {
  color: #494F73;
  font-family:"Sailec-Bold", Sailec;
  margin-bottom: 2%;
}

.freeze-subtitle {
  font-family:"Sailec-Bold", Sailec;
  color:#7EEDFB;
}

.steal-subtitle {
  font-family:"Sailec-Bold", Sailec;
  color:#FFA4FB;
}

.destroy-subtitle {
  font-family:"Sailec-Bold", Sailec;
  color:#FF8F8F;
}

.how-to-credit-img {
  height:400px;
  max-width:70%;
}

.credit-info {
  width: 36%;
  float: right;
  background-color: #FFDD6B;
  color: #2B2B2B;
}

.credit-info-text {
  line-height: 27px;
  margin-bottom: 5%;
}

.rank-system {
  width: 30%;
  text-align: center;
  float: left;
  max-height:330px;
  color:#8e8e8e;
}

.rank-icon {
  max-height: 100px;
  max-width:70%;
  display: block;
  margin: 0px auto;
  margin-bottom: 10%;
}

.rank-system-title {
  font-family:"Sailec-Bold", Sailec;
  color:#494F73;
  margin-bottom:5%;
}

.redeeming {
  flex-direction:row;
  max-height:330px;
  color:#8e8e8e;
}

.redeeming-block {
  margin-left:5%;
}

.redeeming-title {
  font-family:"Sailec-Bold", Sailec;
  color:#494F73;
  margin-bottom:5%;
}

.redeem-icon {
  height:229px;
}

#how-to {
  background-color:#F7F9FA;
  padding:6%;
}

.how-to-title {
  color:#3F4C60;
  margin-bottom:5%;
}

#subscribe {
  background-color:#37DBF2;
  height:269px;
  position:absolute;
  top:2610px;
}

@media (min-width:769px) {
  #subscribe {
    position:relative;
    top:initial;
  }
}

.email {
  height: 31px;
  border: none;
  border-radius: 4px;
  text-align: right;
  text-transform: uppercase;
  font-family: Futura;
  color: #37DBF2;
  width: 69%;
  top: 50px;
  float: right;
  font-size: 10px;
  margin-bottom: 40px;
  padding-right: 40px;
  letter-spacing:1px;
}

@media (min-width:769px) {
  .email {
    height: 60px;
    font-size: 20px;
    text-align: center;
    width: 49%;
    float:none;
    margin-left: 10%;
    letter-spacing:2px;
  }
}


.email-icon {
  position: absolute;
  top: 44px;
  left: 4%;
  width: 25%;
}

@media (min-width:769px) {
  .email-icon {
    top: 23px;
    left: 18%;
    width: 15%;
  }
}


.subscribe-button {
  font-size: 0;
  background-color: #FFDD6B;
  border-radius: 10px;
  border: none;
  height: 27px;
  width: 27px;
  float: right;
  margin-top: 1.5px;
  margin-left: 3px;
  position: relative;
  left: -33px;
}

@media (min-width:769px) {
  .subscribe-button{
    height: 54px;
    width: 54px;
    left: -23%;
    bottom: -2px;
  }
}

.subscribe-img {
  position: relative;
  left: 1px;
  top: -24px;
  pointer-events:none;
}

.subscribe-click {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
}

@media (min-width:769px) {
  .subscribe-img {
    left: 2px;
    top: -54px;
    width: 70%;
  }

  .subscribe-click {
    height: 60px;
    width: 60px;
  }
}

#email-form {
  padding-top: 55px;
  padding-bottom: 0px;
}

.footer {
  border:none;
  position: absolute;
  height: 100px;
  top: 2879px;
  font-size: 7px;
  color: white;
  background-color:#23A3B6;
  font-family:Sailec-Regular;
}

@media (min-width:769px) {
  .footer {
    position:relative;
    top:initial;
  }
}

.footer-disclaimer {
  position:relative;
  z-index:10;
  width:70%
}

.container-fluid {
  padding-right:0px;
  padding-left:0px;
  border:none;
  padding-bottom:0px;
}

#description-container {
  .bp (S; {
    position:absolute;
    top:0px;
    });
}



//>>>>>>> landing-update-pr01

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}


/* Underline From Center */
.hvr-underline-from-center {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Underline From Right */
.hvr-underline-from-right {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}
