@profile-section-header-size: 6rem;
@color-element-background: #f3f3f3;
@auction-item-padding: 2.5rem;
@color-center: #bbb;
@dot-offset: 14%;
@font-size-nav: 22px;
@padding-top-nav: 15px;
@color-blue: #37DBF2;
@color-green: #48DCCA;
@color-yellow: #faaf4c;
@color-gold: #FFDD6B;
@color-destroy: #FB7A87;
@color-steal: #D699D3;
@color-freeze: #59E1FF;
@color-silver: #C7C7C7;
@color-bronze: #EFBE93;
@color-red: #FB7A87;
@color-black: #515151;
@color-game-black: #262626;
@color-gray-font: #828282;
@color-lightgray: #d9d9d9;
@color-lightlightgray: #E9E9E9;
@color-backgroundgray: #f8f8f8;

  .bp(@point,@rules) {
    & when(@point = S) {
        @media (max-width: 479px) {@rules();}
    }
    & when(@point = M) {
        @media (min-width: 480px) and (max-width: 768px) {@rules();}
    }
    & when(@point = L) {
        @media (min-width: 769px) and (max-width: 991px) {@rules();}
    }
    & when (@point = XL) {
      @media (min-width: 992px) {@rules();}
    }
    & when (@point = MtoL) {
      @media (min-width: 480px) and (max-width: 991px) {@rules();}
    }
    & when (@point = StoM) {
      @media (max-width: 767px) {@rules();}
    }
    & when (@point = LtoXL) {
      @media (min-width: 768px) {@rules();}
    }
    & when (@point = MtoXL) {
      @media (min-width: 480px) {@rules();}
    }
    }

      h1, h2, h3, h4, p {
        font-family: 'Sailec-Regular';
    }

    h1 {
        font-size: 36px;
        .bp(S; { font-size: 17px;});
        .bp(XL; { margin-left: 2%;});
        color: @color-gray-font;
    }

    h3 {
        font-size: 30px;
        .bp(S; { font-size: 17px;});
        color: @color-gray-font;

    }

    h4 {
        font-style: normal;
        text-align:center;
        color: @color-gray-font;
    }


