#modal-wrapper #buy-credits {
    
    @import "library";

    a {
        text-decoration: none;
    }

    h1 {
        .bp (S; {
            text-align:center;
            });
    }

    .buttons {
        margin-top: 2rem;
    }
        
    .buttons button.purchase {
        border: none;
        background-color: lightgreen;
        border-radius: .25rem;
    }
    
    .balance{
        float: none;
        padding: 2%;
        text-align:center;
        .bp(S; { padding: 13px;});
        .bp(XL; {margin-top: 3%;});
    }
    
    .balance img {
        display:block;
        margin:0px auto;
        .bp(S; {padding:0px; width: 45px;});
    }
    
    .balanceamt {
        color: #ECC456;
        display: block;
    }
    
    .buy-credits {
        text-align: center;
    }
    
    .buy-credits-box1 {
        float: left;
        padding-top: 15px;
    }
    
    .buy-credits-box2 {
        position: absolute;
        left: 40%;
        padding-left: 5%;
        padding-top: 15px;
        .bp(S;{
            padding-left:20%;
        });
    }
    
    .boxes-wrapper {
        display: block;
    }
    
    .packages {
        display:table;
        margin:0px auto;
        .package {
        font-family:Sailec-Regular;
        float: left;
        margin: 10px;
        padding: 15px 20px 15px 20px;
        background: #F5F5F5;
        .bp(S; {
            width: 29%;
            text-align: center;
            font-size: 12px;
            padding: 2%;
            height: 90px;
        margin: 2%;});
        .bp(XL; { font-size:18px;margin-top:4%;});
        }
    }
    
    .pricebox {
        font-family:Sailec-Regular;
        padding: 20px;
        color: white;
        text-align: center;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
        background: #82C400;
        display: block;
        border-radius:4px;
        border:7px solid #82C400;
        .bp(XL; {
            margin-top: 5px;
        });
        .bp (S; {
            padding:10px;
        });
    }
    
    .pricebox:hover {
        cursor: pointer;
    }
    
    .selected {
        border:7px solid #37DBF2;
    }

    .buy-credits-confirm {
        padding-left: 2%;
        display: block;
        margin-top: 4%;
        font-size: 12px;
        .bp (S; {
            padding:0px;
        })
    }

    .redeem-box {
        margin-top: 10%;
        position: relative;
        right: 5%;
        .bp (S; {
            margin-top: 53%;
            right: 27%;
            });
    }

    .buy-credits-box {
        background-color: white;
        position: relative;
        width: 100%;
        border-radius: 4px;
        display: flex;
        .bp (S; {
            padding-left: 2%;
            font-size: 11px;
        });
    }

    .hosted-field{
        height:70px;
        .bp (S; {
            font-size:10px;
            height:50px;
        });
    }

}




