#modal-wrapper #auction-end-addr{

    @import "library";

    display:block;
    text-align:center;

    input {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin-bottom: 4%;
        padding-left: 2%;
        border: 1px solid grey;
        border-radius: 2px;
        width: 50%;
        padding-top: 1%;
        padding-bottom: 1%;
        }

    select {
        border-radius: 2px;
    }

    .state-input {
        margin-bottom:2%;
    }

    .state-label {
        margin-right:2%;
    }

    .redeem-box {
        display: block;
        margin: 0px auto;
    }
}



