#modal-wrapper #modal-auction-end {

	@import "library";

	.bargval {
		color: @color-blue;
	}

	.end-modal-product {
	    font-size: 2em;
	}

	.end-modal-info {
	    padding-top:53px;
	    display: block;
	    float: right;
	    font-size: 20px;
	    width:50%;
	    font-family: 'Sailec-Light', 'Sailec-Regular';
	    .bp (M; {
	        font-size:15px;
	    });
	    .bp (S; {
		    width: 92%;
		    font-size: 13px;
		    float: none;
		    margin: 0px auto;
		    padding-top: 0px;
		    margin-bottom: 5%;
	    });
	}

	.end-modal-title {
	    font-family: 'Sailec-LightItalic', 'Sailec-Light', 'Sailec-Regular';
	    color: @color-blue;
	    font-size:2em;
	    text-align:left;
	    .bp (S; {
	        margin:0px;
	        text-align:center;
	    });
	}

	.lose-box {
	    font-size: 20px;
	    width: 43%;
	    position: relative;
	    text-align: center;
	    color: @color-lightgray;
	    display: block;
	    height: auto;
	    .bp (S; {
	        font-size: 11px;
	        width: 82%;
	        display: block;
	        left: 0;
	        right: 0;
	        margin: 0px auto;
	        line-height: 20px;
	        padding-top: 15px;
	    });
	}

	.end-modal-avatar{
	    width:15%;
	    border:4px solid @color-blue;
	    border-radius:60%;
	    .bp (S; {
	        width: 21%;
	        display: block;
	        margin: 0px auto;
	    });
	}

	.end-modal-top {
	    display: block;
	    width: 75%;
	    float: right;
	    .bp (M; {
	        font-size: 8px;
	        line-height: 8px;
	    });
	    .bp (S; {
	        font-size: .5em;
	        width: 100%;
	        margin-top: 15px;
	        margin-left: 0px;
	        margin-right: 0px;
	        display: block;
	        text-align: center;
	        line-height:32px;
	    });
	}

	.end-pay-info {
	    width:50%;
	    float:left;
	    .bp (S; {
	        width: 100%;
	        display: block;
	        margin: 0px auto;
	    });
	}


	.origval-box {
	    border-bottom:1px solid @color-lightgray;
	}

	.saveval {
	    border-top: 1px solid @color-lightgray;
	    padding-top: 13px;
	}


	.end-val {
	    float:right;
	}
}