@import "library";
    
    .bp (S; {
        margin-top:3rem;
    });

    .caption {
        color: @color-gray-font;
        font-size: 1.5em;
        .bp(S; { text-align:center; font-size: 11px;});
        .bp(XL; { margin-left: 2%;})
    }
    

    .redeem-box {
        padding: 10px;
        background-color: @color-blue;
        color: white;
        font-size: 1.5em;
        width: 250px;
        border-radius: 10px;
        line-height: 51px;
        text-align: center;
        height: 70px;
        border:none;
        margin-left:60%;
        .bp (M; {
            height: 50px;
            line-height:31px;
            bottom: 37px;
            left:53%;
            font-size:15px;
        });
        .bp (S; {
            font-size:1em;
            border-radius:4px;
            display:block;
            width: 74%;
            margin: 0px auto;
            line-height: 13px;
            height: 40px;
            padding: 10px;
            margin-top: 5%;
            margin-bottom: 5%;
        });
    }

    .confirm-msg {
        text-align: center;
        display: block;
        width: 60%;
        margin: 0px auto;
        font-size: 1.5em;
        .bp (S; {
            margin-top:10%;
            font-size:1em;
            width:75%;
            });
    }

    .confirm-title {
        display:block;
        margin-top: 2em;
        font-size:2em;
        margin-bottom:2em;
        text-align:center;
        .bp (S; {
            font-size: 18px;
            border: none;
            margin: 0px auto;
            text-align: center;
            margin-top: 42px;
        });
    }

    .gray-close {
        background-color: @color-lightgray;
        width: 40%;
        display: block;
        margin: 0px auto;
        margin-top: 10%;
    }

    header {
        margin-bottom: 1rem;
        padding-bottom:1%;
        border-bottom: solid 2px @color-lightlightgray;
        .bp (S; {
            padding-bottom: 3%;
            border:none;
        });
    }

    .img-item {
        float: left;
        padding: 28px;
        padding-top: 50px;
        .bp (S; {
            padding: 28px;
            width: 80%;
            float: none;
            margin:0px auto;
            display:block;
    });
    }

