#modal-wrapper {

  @import: "library";
  @import "modal_library";

  font-family:'Sailec-Regular';
  z-index:11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  .modal-background {
    background: rgba( 0, 0, 0, .3 );
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

    #modal-body {
      background: white;
      z-index: 101;
      position: relative;
      display: flex;
      width: 75%;
      top:3%;
      max-width: 800px;
      margin: 0px auto;
      padding: 35px;
      border-radius: 2%;
      font-family:Sailec-Regular;
      .bp (M; {
        height:370px;
      });
      .bp (S; {
        width:85%;
        height:auto;
        padding:10px;
      });
    }

    #modal-content {
        width: 100%;
        height: 100%;
      }

    #btn-modal-close {
      opacity: 0.4;
      border: none;
      background-color: white;
      position: absolute;
      right: 50px;
      top: 50px;
      font-size:30px;
      color: @color-black;
      cursor:pointer;
      .bp (S; {
        right:15px;
        top:5px;
        });
    }

}

