#modal-wrapper #auction-end-pay {

	@import "library";

	.auction-end-disclaimer {
        position: relative;
        display: block;
        padding: 15px;
        font-size: 10px;
        color: #d5d5d5;
        padding-right: 10%;
	    .bp (S; {
	        width: 80%;
	        display: block;
	        margin: 0px auto;
	        padding: 6px;
	        font-size: 7px;
	        margin-bottom: 20px;
	    });
	}

    .end-pay-back {
        position: absolute;
        top: 27px;
        left: 20px;
        height: 30px;
        .bp (S; {
            top: 13px;
            left: 10px;
            height: 26px;
        });
    }

    .end-pay-redeem {
        padding: 12px;
        line-height: 20px;
        font-size: 1em;
        margin:0px;
        .bp (S; {
            padding: 6px;
            line-height: 16px;
            font-size: 1em;
            display: block;
            margin: 0px auto;
            });
    }

    .brntree {
        display: block;
        line-height: 0px;
        float: right;
        font-family: 'Sailec-Light', 'Sailec-Regular';
        margin-top: 3%;
        padding-left: 3%;
        .bp (S; {
            padding-left: 25px;
            font-size: 12px;
        });
    }

    .hosted-field {
        height:40px;
    }

    .hosted-fields--label {
        margin-bottom: 15px;
        margin-top: 15px;
        .bp (S; {
            margin-bottom:2px;
            margin-top:3px;
        });
    }

    .money-box {
    	margin-bottom:3%;
    }

    .end-pay-info {
        width:50%;
        float:left;
        .bp (S; {
            width: 100%;
            display: block;
            margin: 0px auto;
        });
    }
}