@import "app";
@import "modal_buy_credits";
@import "fonts";
@import "library";

/* bootstrap dupes and overrides */
.label {
  display: inline;
  padding: 0;
  /* padding: .2em .6em .3em; */
  font-size: 100%;
  /* font-size: 75%; */
  font-weight: normal;
  /* font-weight: 700; */
  line-height: 1;
  color: inherit;
  /* color: #fff; */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}
/* end bootstrap overrides */

/* end jumbotron-narrow.css overrides */

body {
  padding-top: 0;
  background-color: @color-backgroundgray;
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  padding-bottom: 0;
  border-bottom: 0;
}

.profile {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 1.5rem;
  height:800px;
}

.profile header {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  width: 20%;
  height:450px;  
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(146, 146, 146, 0.5);
  border-radius: 10px;
  position: absolute;
    .bp (StoM; {
      height: 253px;
      left: 14px;
      width: 40%;
    });
    .bp (MtoL; {
      width:30%;
      left:20px;
    });
}

.profile header .user-info {
  display: block;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 25%;
  width: 50%;
  padding-left: 0px;
}

#profile-credit {
  margin-bottom: 0px;
  font-size: 25px;
  font-family: Sailec-bold;
  color: @color-blue;
  margin-top: 10px;
    .bp(StoM; {
      font-size:15px;
    });
}

.profile header .user-info .name {
  font-size: 35px;
  color: #363636;
  font-family: Sailec-light;
    .bp(StoM; {
      font-size:20px;
    });
}

.profile header .username {
  font-size: 2rem;
}

.profile header .avatar {
  height: 80%;
  border-radius: 100%;
  display: block;
  margin: auto;
}

.profile header .avatar input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile header .avatar label {
  width: 170px;
  height: 170px;
  display: block;
  margin: 0;
  border-radius: 10%;
    .bp (StoM; {
      width:80px;
      height:80px;
    });
    .bp (M; {
      width: 160px;
      height: 160px;
    });
}

.profile header .avatar label:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile header .avatar img {
  height: 100%;
  border-radius: inherit;
}

.profile header .avatar .edit-icon {
  height: 40px;
  position: absolute;
  border-radius:0;
   .bp(StoM; {
      height:27px;
    });
}
.profile header .avatar .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: gray;
  opacity: 0;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile header .avatar:hover {
  border-color: blue;
}

.profile header .avatar .overlay:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile header .avatar .overlay span {
  font-size: 1.25rem;
}

.profile-title {
  color: @color-gray-font;
  border-bottom: 1px solid @color-lightgray;
  font-size: 42px;
  font-family: Sailec-Bold;
  padding-top: 10px;
  display: block;
  padding-bottom: 5px;
  position: absolute;
  width: 63%;
  left: 35%;
    .bp(StoM; {
      font-size: 22px;
      margin-left:12%;
    });
  }

.overview {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.stats {
  display: inline-flex;
  width: 50%;
  position: absolute;
  left: 35%;
  top: 270px;
    .bp(StoM;{
      top:158px;
      left:48%;
    });
}

.stats .stat {
  display: inline-flex;
  flex-direction: column;
  width: 18%;
  background-color: @color-blue;
  margin-right: 4%;
  color: white;
  border-radius: 8px;
  height: 210px;
    .bp(StoM; {
      width: 46%;
      height: 170px;
    });
    .bp (M; {
      width:63%;
    });
}

.stats .stat .label {
  font-size: 2rem;
    .bp(StoM; {
      font-size:15px;
    });
}

.stats .stat .value {
  position: relative;
  height: 11rem;
  font-weight: bold;
  font-size: 6rem;
  border-radius: 10%;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 13rem;
  border-radius: 6px;
}

.stats .num-auctions {
  background:none;
  color:#6B6B6B;
}


#num-auctions-value {
  color:#6B6B6B;
}

.history h1 {
  text-align: center;
  font-weight: bold;
  color: @color-gray-font;
  padding-bottom: 2rem;
}

.history .history-list {
  display: flex;
}

.history .history-list div {
  display: inline-flex;
}

.history .history-list .auction-column {
  width: 45%;
}

.history .history-list .right {
  margin-top: -2rem;
}

.history .history-list .auction-column ul {
  display: inline-flex;
  flex-direction: column;
}

.history .history-list .auction-column .auction-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.history .history-list .auction-column .list-item {
  display: inline-flex;
  list-style: none;
  border: 1px;
  width: 100%;
  position: relative;
  background-color: @color-element-background;
}

.history .history-list .auction-column.left-side .list-item::after {
  content: "";
  position: absolute;
  top: 10rem;
  width: 0;
  height: 0;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-left: 2.5rem solid @color-element-background;
}

.history .history-list .auction-column.right-side .list-item::before {
  content: "";
  position: absolute;
  top: 10rem;
  left: -2.5rem;
  width: 0;
  height: 0;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-right: 2.5rem solid @color-element-background;
}

.history .history-list .auction-column .list-item .dot {
  position: absolute;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  top:  10.5rem;
  background-color: @color-center;
}

.history .history-list .auction-column.right-side .list-item .dot {
  left: -@dot-offset;
}

.history .history-list .auction-column.left-side .list-item .dot {
  right: -@dot-offset;
}

.history .history-list .auction-column .list-item p {
  font-size: 2rem;
  color: @color-gray-font;
}

.history .history-list .auction-column .offset {
  height:10rem;
}

.history .history-list .auction-column .none {
  display: none;
}

.history .history-list .auction-column .pad-top {
  padding-top: 5rem;
}

.history .history-list .auction-column .list-item .img-container {
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  margin: 2.5rem
}

.history .history-list .auction-column .list-item .img-container img {
  width: 100%;
}

.history .history-list .auction-column .list-item .item-info {
  width: 45%;
  padding-left: 5%;
  display: inline-flex;
  flex-direction: column;
  padding-top: 3.5rem;
  padding-left: 1.5rem;
}

.history .history-list .center-column {
  width: 1%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  background-color: @color-center;
  border-radius: .8rem;
}