{% extends "admin/base.html" %}
{% block styles %}
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('admin.static', filename='css/vendor/flatpickr.css') }}">
{% endblock %}
{% block content %}
{{ form|crud_form("Create Auction", 'admin.createAuction', button_msg="Create") }}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('admin.static', filename='js/vendor/flatpickr.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/main_auctions.js') }}"></script>
{% endblock %}
