{% extends "admin/base.html" %}
{% block content %}
<div>
    <h3>Upcoming Auctions</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Reward Name</th>
            <th>Auction Price</th>
            <th>Start</th>
        </tr>
        {% for auction in upcomingAuctions %}
            <tr>
                <td>{{ auction.id }}</td>
                <td>{{ auction.reward.name }}</td>
                <td>{{ auction.real_price }}</td>
                <td>{{ auction.start_datetime }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Ended Auctions</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Reward Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Auction Price</th>
            <th>Winner Username</th>
            <th>Winner Email</th>
            <th>Winner Name</th>
            <th>Redemption Status</th>
        </tr>
        {% for auction in endedAuctions %}
            <tr>
                <td>{{ auction.id }}</td>
                <td>{{ auction.reward.name }}</td>
                <td>{{ auction.start_datetime }}</td>
                <td>{{ auction.end_datetime }}</td>
                <td>{{ auction.real_price }}</td>
                <td>{{ auction.last_bidder.username }}</td>
                <td>{{ auction.last_bidder.email }}</td>
                <td>{{ auction.last_bidder.first_name }}</td>
                <td>
                    {% if auction.last_bidder is none %}
                        No winner
                    {% elif not auction.isPaid %}
                        Not paid
                    {% elif not auction.redeemed %}
                        <form action="{{ url_for('admin.redeem', auctionId=auction.id) }}" method="post">
                            <button name="redeem" value="redeem">
                                Redeem
                            </button>
                        </form>
                    {% else %}
                        Redeemed
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
