<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link
       rel="stylesheet" type="text/css"
       href="{{ url_for('admin.static', filename='css/vendor/normalize-6.0.0.css') }}">
    <link
       rel="stylesheet" type="text/css"
       href="{{ url_for('admin.static', filename='css/base.css') }}">
    {% block styles %}{% endblock %}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('admin.admin') }}">Home</a></li>
        <li><a href="{{ url_for('admin.users') }}">Users</a></li>
        <li><a href="{{ url_for('admin.config') }}">Config</a></li>
        <li><a href="{{ url_for('admin.auctions') }}">Auction List</a></li>
        <li><a href="{{ url_for('admin.transactions') }}">Transaction List</a></li>
        <li><a href="{{ url_for('admin.createAuction') }}">Create Auction</a></li>
        <li><a href="{{ url_for('admin.createPhysicalItem') }}">Create Phsyical Item</a></li>
        <li><a href="{{ url_for('admin.watchlist') }}">Watch list</a></li>
      </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
