<div class="{{ wrapper_class }}">
  <h3>{{ header }}</h3>
  <form action="{{ url }}" method="POST">
    {% for field in form %}
    <div class="{{ field_wrapper_class }}">
      {{ field.label }}: {{ field }}
      <div class="{{ description_class }}">
        {{ field.description }}
      </div>
      <ul class="{{ errors_class }}">
        {% for err in field.errors %}
        <li>{{ err }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
    <input type="submit"
           value="{{ button_msg }}">
  </form>
</div>
