{% extends "admin/base.html" %}
{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>Datetime</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>Transaction Type</th>
        <th>Amount</th>
    </tr>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.datetime }}</td>
            <td>{{ transaction.user.first_name + ' ' + transaction.user.last_name }}</td>
            <td>{{ transaction.user.email }}</td>
            <td>{{ transaction.transactionType.name }}</td>
            <td>{{ transaction.amount }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
