{% extends "admin/base.html" %}
{% block content %}
<div>
  <h2>Admin Watch list</h2>
  {% for auction in auctions %}
  <div>
    <div>
      <h4>Auction info</h4>
      <table>
        <tr>
          <th>ID</th>
          <th>Reward Name</th>
          <th>Start</th>
          <th>End</th>
        </tr>
        <tr>
          <td>{{ auction.id }}</td>
          <td>{{ auction.reward.name }}</td>
          <td>{{ auction.start_datetime }}</td>
          <td>{{ auction.end_datetime }}</td>
        </tr>
      </table>
    </div>
    <div>
      <h4>Watch infos</h4>
      <table>
        <tr>
          <th>email</th>
          <th>first name</th>
          <th>last name</th>
        </tr>
        {% for watch in auction.watches %}
        <tr>
          <td>{{ watch.user.email }}</td>
          <td>{{ watch.user.first_name }}</td>
          <td>{{ watch.user.last_name }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
