@import "app";

html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

#app {
  height: 100%;
}

#auctions-logged-in {
  height: 100%;
}

.auctions {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.auctions > div {
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
}

.auctions ul {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.auctions-joined {
  margin-right: 1rem;

  div.auction {
    border: .25rem solid black;
    border-radius: 1rem;
    margin: 1rem;
    padding-bottom: 1rem;

    .main-img {
      position: relative;
      text-align: center;
      margin: 2rem;
      border: .15rem solid;
    }

    .main-img img {
      display: block;
      width: 100%;
    }

    .info {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }
}

.auctions-joined div.auction .action-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

  .spacer {
    flex-grow: 5;
  }

  .bid-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
  }

  .bid-button button {
    font-size: 2rem;
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    border: .1rem solid black;
    background: aquamarine;
  }

  .bid-button button:hover {
    border-width: .15rem;
    border-color: red;
    background: aqua;
  }

  .game-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1.5;
  }

  .game-buttons .row {
    display: flex;
    justify-content: space-around;
  }

  .game-buttons button {
    font-size: 1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    border: .1rem solid black;
    background: coral;
  }

  .game-buttons button:hover {
    border-color: blue;
    border-width: .15rem;
    background: maroon;
  }
}

.auctions-unjoined {

  div.auction {
    border: .25rem solid black;
    border-radius: 1rem;
    margin: 1rem;
    padding-bottom: 1rem;

    .main-img {
      position: relative;
      text-align: center;
      margin: 2rem;
      border: .15rem solid;
    }

    .main-img:hover {
      border-color: blue;
    }

    .main-img img {
      display: block;
      width: 100%;
    }

    .main-img .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: gray;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .main-img .overlay:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    .main-img .overlay span {
      font-size: 2.5rem;
    }

    .info {
      text-align: center;
      display: flex;
      flex-direction: column;
    }

  }


  .auction.upcoming {
    .action-buttons {
      text-align: center;
      margin-top: .8rem;
    }
  }

  .auction.unjoined {
    .info .timers {
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
    }

    .info .timers > div {
      display: flex;
      flex-direction: column;
    }
  }

}