@import "app";

#auction-history {

  h3 {
    text-decoration: underline;
  }

}

#auction-history .auction-list {
  margin-left: 2rem;
  margin-right: 2rem;
  border: solid .35rem black;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.09rem;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    border-bottom: .1rem solid grey;
    font-size: 1.1em;
    font-weight: bold;
  }

  header > div {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0;
  }

  header > div .sort-curr {
    flex-grow: 1;
    text-align: right;
    margin-right: 1em;
  }

  header > div .sort-curr .alt {
    display: none;
  }

  header > div .sort-curr.alt {
    visibility: hidden;
  }

  header > div .sort-curr:hover {
    cursor: pointer;
    visibility: visible;
  }

  header > div .sort-curr:hover .curr {
    display: none;
  }

  header > div .sort-curr:hover .alt {
    display: block;
    color: aqua;
  }

  header > div .sort-alt {
    flex-grow: 1;
    text-align: right;
    margin-right: 1em;
    opacity: 0;
    cursor: pointer;
    color: aqua;
  }

  header > div .sort-alt:hover {
    opacity: 1;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    margin-bottom: .4em;
    border-bottom: .05em solid lightgrey;
    padding-bottom: .1em;
    display: flex;
    justify-content: space-between;
  }

  ul li > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
  }

  ul li .min-end-vals {
    flex-direction: column;
    align-items: flex-start;
  }

  ul li .min-end-vals .label {
    font-weight: bold;
  }
}
