@import "app";

#auctions-logged-out {
  section.auctions .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section.auction {
    flex-grow: 1;
    flex-basis: 0;
  }
}

div.auction {
  border: .25rem solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding-bottom: 1rem;

  .main-img {
    position: relative;
    text-align: center;
    margin: 2rem;
    border: .15rem solid;
  }

  .main-img:hover {
    border-color: blue;
  }

  .main-img img {
    display: block;
    width: 100%;
  }

  .main-img .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: gray;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-img .overlay:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .main-img .overlay span {
    font-size: 2.5rem;
  }

  .info {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

}


.auction.upcoming {
  .action-buttons {
    text-align: center;
    margin-top: .8rem;
  }
}

.auction.unjoined {
  .info .timers {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }

  .info .timers > div {
    display: flex;
    flex-direction: column;
  }
}
