/**
 * single-page form style (login, signup, etc.)
 */

form {
  border: solid .1rem;
  padding: 1rem;

  .inputs .input {
    margin-top: .5rem;
  }

  .inputs .input input {
    width: 65%;
  }

  .links {
    margin-left: 3rem;
    margin-top: 1rem;
  }

  .links a {
    color: blue;
    cursor: pointer;
  }

  .links a:hover {
    color: lightblue;
  }

  .submit {
    text-align: right;
  }

  .submit button {
    width: 5em;
    height: 2.5em;
    font-weight: bold;
  }
}