#modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .modal-background {
    background: rgba( 0, 0, 0, .3 );
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  #modal-content {
    position: absolute;
    left: 20%;
    margin: 0;
    width: 60%;
    top: 10%;
    height: 80%;
    background: white;
    z-index: 101;
    border-radius: 1rem;
    overflow-y: scroll;
  }
}