@import "modal";

#edit-avatar {
  margin: 1rem;

  h3 {
    font-size: 2rem;
    text-decoration: none;
    margin: 0;
    border-bottom: .1rem solid;
    margin-bottom: .75rem;
  }

  .select-picture {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .select-picture .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .select-picture .preview {
    flex-grow: 1;
    border: .13rem dashed;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .select-picture .actions button {
    position: relative;
    width: 5rem;
    height: 5rem;
    margin-top: .75rem;
    border: 0;
    border-radius: 100%;
    background: aquamarine;
  }

  .select-picture .actions button:hover {
    background: aqua;
  }

  .select-picture .actions button input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .select-picture .actions button input:hover {
    cursor: pointer;
  }

  .select-picture .preview span {
    font-style: italic;
  }
}