@import "app";

#user-auction-history {
  h3 {
    text-decoration: underline;
  }
}

#user-auction-history > section {
  margin: 1.5rem;
  border: .1rem solid black;
  padding: 1rem;
  display: flex;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h4 {
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
    border-bottom: .1rem solid grey;
    margin-right: 10%;
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    border-bottom: .1rem solid lightgrey;
    margin-right: 15%;
    margin-bottom: .75rem;
  }
}

#user-auction-history .auctions {
  flex-grow: 2;
  flex-basis: 0;
}

#user-auction-history section.list header {
  display: flex;
  margin-bottom: .5rem;
}

#user-auction-history section.list header > div {
  flex-grow: 1;
  flex-basis: 0;
}

#user-auction-history section.list header .label {
  border-bottom: .1rem solid black;
}

#user-auction-history section.list ul li {
  display: flex;
  margin-bottom: .25em;
}

#user-auction-history section.list ul li > div {
  flex-grow: 1;
  flex-basis: 0;
}