<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>auction design</title>
    <link rel="stylesheet" type="text/css"
          href="/assets/style/normalize-4.0.0.css">
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <div id="modal-wrapper" hidden="true">
      <div class="modal-background"></div>
      <div id="modal-content">
        <span>loading...</span>
      </div>
    </div>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
