{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css"
      href="/client/style/login.css">
{% endblock %}
{% block content %}
<div id="app">
  <span>loading...</span>
</div>
{% endblock %}
{% block scripts %}
<script src="/client/js/login.js">
</script>
{% endblock %}
