.bid-item-img {
    position: relative;
    height: 250px;
    width: 405px;
    padding-top: 10px;
    border-radius: 30px;
}

.quadrant{
  position: relative;
  display: inline-table;
  width: 48%;
  margin: 1%;
  background-color: #ccc;
  border-radius: 8px;
  padding-bottom: 15px
}

p .bids {
  margin-top: 15;
}

.left {
    position: absolute;
    left: 15px;
    bottom: 0px;
    line-height: normal;
    font-size: smaller;
}

.jumbotron {
  background-color: #fff;
}


.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}

.tiny-padding {
  padding: 2px 2px;
}

.navbar-collapse {
  position: relative;
}

.navbar-center {
  text-align: center;
  padding-top: 1%;
}
