@width-tile: 90%;

/* bootstrap dupes and overrides */
.label {
  display: inline;
  padding: 0;
  /* padding: .2em .6em .3em; */
  font-size: 100%;
  /* font-size: 75%; */
  font-weight: normal;
  /* font-weight: 700; */
  line-height: 1;
  color: inherit;
  /* color: #fff; */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}
/* end bootstrap overrides */

#wrapper-auction-joined {
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: (100% - @width-tile) / 2;
  margin-right: (100% - @width-tile) / 2;
  background: lightgrey;
}