nav {
  font-size: 1.1rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  margin: 1.25em;
  padding: 1em;
  cursor: pointer;
  border: .1em solid black;
  border-radius: .2em;
  background-color: lightgrey;
}

nav ul li a {
  text-decoration: none;
  color: blue;
}

.flashes {
  padding-left: 8rem;
  padding-right: 8rem;
  font-size: 1.25rem;
}

.flashes ul {
  list-style: none;
  background-color: lightpink;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.crud-form {
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1.25rem;
}

div.crud-form h3 {
  font-size: 2em;
  text-decoration: underline;
  margin-bottom: .5em;
}

div.crud-form form div.crud-field {
  margin-bottom: .5em;
}

div.crud-form form input[type="submit"] {
  font-size: 1.25em;
  margin-left: 1em;
  margin-top: 0.5em;
  padding: 0.25em;
  background-color: lightblue;
  border-radius: 0.25em;
  border: 0.1em solid black;
  cursor: pointer;
}

div.crud-form form div.description {
  font-size: .75em;
  padding-left: 3em;
  padding-top: .25em;
}

div.crud-form form ul.errors {
  font-size: .8em;
  color: red;
  list-style: none;
}