{% extends "base.html" %}
{% block content %}
<div>
  <div class="header clearfix">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div
             id="navbar"
             data-nav-links="{{ navLinks }}"
             data-bt-client-token="{{ client_token }}">
        </div>
      </div>
    </nav>
  </div>
  <div id="app"
       data-bt-client-token="{{ client_token }}"></div>
  {% include 'footer.html' %}
</div>
{% endblock %}
