<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Bargible">
    <meta name="author" content="Bargible">
    <link rel="icon" href="favicon.ico">

    <title>Bargible</title>
    <link rel=stylesheet type=text/css href="{{ static('css/gen/common.css') }}">
    {% if isProduction %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76776874-2', 'auto');
        ga('send', 'pageview');

      </script>
    {% endif %}
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <div id="modal-wrapper" hidden="true">
      <div class="modal-background"></div>
      <div id="modal-body">
        <div id="btn-modal-close">x</div>
        <div id="modal-content">
          <span>loading...</span>
        </div>
      </div>
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
