<div class="upper">
    <div class="col-2">
        <img src="" alt="Gift Card Image">
    </div>
    <div class="col-2">
        <span>Min Value</span>
        <span>Timer</span>
        <span>Int Timer</span>
        <span>Amount</span>
    </div>
</div>
<div class="lower">
    <span>Num Bids</span>
    <button>Bid</button>
</div>