<footer class="footer">
    <p class="copyright">&copy; Bargible Inc. 2016</p>
    <span class="footer-disclaimer">
        The merchants represented are not sponsors of the rewards or otherwise affiliated with Bargible. The logos and other identifying marks attached are trademarks of and owned by each represented company and/or its affiliates. Please visit each company's website for additional terms and conditions.
    </span>
</footer>