<div class="header clearfix">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false">
        <input type="checkbox" id="navbar-toggle-cbox">
        <label for="navbar-toggle-cbox">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </label>
        </button>
        <a class="navbar-brand tiny-padding" href="/">
          <img src="static/img/bargible-1.png"></img>
        </a>
      </div>
              <label for="navbar-toggle-cbox">

      <div class="collapse navbar-collapse"
           id="navbar">
        </label>

        <span>loading...</span>

      <ul class="nav navbar-nav navbar-right">\
        <!--   <li><a>How to Play</a></li> -->
        <!-- </ul> -->

      </div>
    </div>
  </nav>
</div>
