{% extends "base_app.html" %}
{% block styles %}
<link rel=stylesheet type=text/css
      href="{{ static('css/gen/home.css') }}">
<script src="https://use.fontawesome.com/4e04b9607a.js"></script>

{% endblock %}
{% block scripts %}
<script src="{{ static('js/page_home.js') }}"></script>
{% endblock %}
