{% extends "base.html" %}
{% block styles %}
<link rel=stylesheet type=text/css
      href="{{ static('css/gen/index.css') }}">
{% endblock %}

{% block content %}
<div>
  <div id="navbar" data-nav-links="{{ navLinks }}"></div>
  <div id="app">
    <span>loading...</span>
  </div>

</div>
{% include 'footer.html' %}
{% endblock %}
{% block scripts %}
<script src="{{ static('js/page_index.js') }}"></script>
{% endblock %}
